<footer class="pb5">
  <p class="f6">Webring code based on <a href="https://github.com/XXIIVV/webring" class="white" target="_blank">webring.xxiivv.com</a> by <a href="https://github.com/neauoire" class="white" target="_blank">neauoire</a>.</p>
  <p class="f6">Typeset in <a href="https://github.com/weiweihuanghuang/Work-Sans" class="white" target="_blank">Work Sans</a> with <a href="http://tachyons.io/" target="_blank" class="white">Tachyons</a>. Animated orb made with <a href="https://two.js.org" class="white" target="_blank">Two.js</a></p>
</footer>