---
---
@import "tachyons";
@import "fonts";

html {
  -webkit-font-smoothing: antialiased;
}

.grid {
  max-width: 840px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 900px) {
    display: block;
  }
}

.bg-rgb-blue {
  background-color: #00f;
}

.work-sans {
  font-feature-settings:"kern" 1;
  font-kerning: normal;
  font-family: 'Work Sans', sans-serif;
}