---
---
@import "tachyons";
@import "fonts";

html {
  -webkit-font-smoothing: antialiased;
}

.bg-rgb-blue {
  background-color: #00f;
}

.work-sans {
  font-feature-settings:"kern" 1;
  font-kerning: normal;
  font-family: 'Work Sans', sans-serif;
}