---
---
@import "tachyons";
@import "fonts";

html {
  -webkit-font-smoothing: antialiased;
}

::-moz-selection { color: #00f; background: #fff; }
::selection { color: #00f; background: #fff; }

.grid {
  max-width: 960px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 900px) {
    display: block;
  }
}

.bg-rgb-blue {
  background-color: #00f;
}

#bg-graphic {
  z-index: -1;
}

#bg-graphic svg {
  height: 100vh;
  width: 100vw;
}

.work-sans {
  font-feature-settings:"kern" 1;
  font-kerning: normal;
  font-family: 'Work Sans', sans-serif;
}
