<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="bg-rgb-blue white work-sans ph3 ph4-m ph5-l {{ page.class }}">
    {{ content }}
    <div id="webring-container"></div>
    {%- include colophon.html -%}

    <div id="imageWrapper">
      <div id="imageWell">
        <img id="displayImage" src=""/>
      </div>
    </div>
    <script src="{{ "/assets/hoverintent.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/dither.js" | relative_url }}"></script>
    <script src="{{ "/assets/main.js" | relative_url }}"></script>
  </body>

</html>