<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="bg-rgb-blue white work-sans ph3 ph4-m ph5-l {{ page.class }}">
    {{ content }}
    <div id="webring-container"></div>
    {%- include colophon.html -%}
    
    <div id="bg-graphic" style="z-index: -1;overflow: hidden; margin: 0px; padding: 0px; top: 0px; left: 0px; right: 0px; bottom: 0px; position: fixed;"></div>
    <script src="{{ "/assets/two.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/main.js" | relative_url }}"></script>
  </body>

</html>